
NET "gclk" LOC = "L15";

# ac97 codec
NET "BIT_CLK" LOC = "L13";
NET "SDATA_IN" LOC = "T18";
NET "SDATA_OUT" LOC = "N16";
NET "SYNC" LOC = "U17";
NET "RESET" LOC = "T17";
NET "SYSTEM_RESET" LOC = "T15";

# Control Buttons
NET "BTNL" LOC = "P4";
NET "BTNR" LOC = "F6";
NET "BTNU" LOC = "N4";
NET "BTND" LOC = "P3";

# Wave Selector Switches
NET "SW<0>" LOC = "A10"; 
NET "SW<1>" LOC = "D14";
NET "SW<2>" LOC = "C14";
NET "SW<3>" LOC = "P15";

# LEDS
NET "LED<0>" LOC = "U18";
NET "LED<1>" LOC = "M14";
NET "LED<2>" LOC = "N14";
NET "LED<3>" LOC = "L14";
NET "LED<4>" LOC = "M13";
NET "LED<5>" LOC = "D4";
NET "LED<6>" LOC = "P16";
NET "LED<7>" LOC = "N12";
 